# Sentry.io path
SENTRY_DSN=

# Yandex
YANDEX_TRACKING_ID=

# Adds urls, comma separated
ADS_URLS=

# VK application ID
VK_APP_ID=5315207

# Api endpoint url
# Static endpoint url
API_ENDPOINT_URL=https://anilibriaqt.anilib.top
STATIC_ENDPOINT_URL=https://anilibriaqt.anilib.top/
EXT_API_SERVER=https://api.anilibria.tv

# Discord RPC client ID
DISCORD_CLIENT_ID=1063178077976412270

# GitHub API endpoint for updating an application
APP_UPDATE_CHANNEL_ENDPOINT_URL=https://api.github.com/repos/A1ex3/anilibrix-plus/releases